@import "../css/global/variables.scss";

%simple_banner {
    position: relative;
    top: 0;
    height: 50px;
    color: $primary_white;
    background: {
        color: $base_banner_color;
    }
}

%banner {
    @extend %simple_banner;

    height: auto;
    text-align: center;
    // font: {
    //     size: 32px;
    //     weight: 700;
    // }
    padding: 2rem;
    background: {
        position: center;
        repeat: no-repeat;
        size: cover;
    }
}

.top-banner {
    @extend %simple_banner;

    &.mobile-infos {
        @extend %simple_banner;

        text-align: center;
        padding: .45rem;
        line-height: 40px;
        // font-weight: 400;
    }

    &.sales-policies {
        p {
            font-weight: 600;
        }

        .container {
            max-height: 100%;
            
            .row {
                margin-bottom: 0;

                .col {
                    max-height: 50px;
                    display: flex;
                    flex-direction: row;
                    
                    i {
                        font-size: 2rem;
                        margin-right: .5rem;
                        vertical-align: middle;
                        line-height: 1.75;
                    }
                }
            }
        }
    }

    &.promotional {
        position: relative;
        top: 0;
        height: auto;
        text-align: center;
        // font-size: 32px;
        // font-weight: 700;
        padding: 2rem;
        background-color: $base_promotional_banner_color;

        &.smaller {
            padding: .75rem;
            // font-size: 1rem;
            // color: $primary_white;
        }

        a {
            @extend %links;
            
            .big-title {
                margin-bottom: .35rem;
            }
            
            .presentation {
                font-style: italic;
                text-transform: uppercase;
            }
    
            .legal {
                padding: .25rem;
                // font: {
                //     size: .75rem;
                //     weight: 400;
                // }
            }
        }
    }
}
