@import "../css/global/variables.scss";

%price {
    font-weight: 700;

    @media only screen and (min-width: 301px) {
        font-size: 1rem;
    }

    @media only screen and (min-width: 993px) {
        font-size: 1rem;
    }
}

%discounted_price {
    text-decoration: line-through;
}

%image {
    width: 100%;
    height: auto;
}

%product {
    overflow: hidden;

    a {
        @extend %black_links;
    }
    
    .image {
        position: relative;
        overflow: hidden;

        img {
            // width: 100%;
            // height: auto;
            @extend %image;
            transition: all .2s ease-in-out;
            
            @media only screen and (min-width: 993px) {
                &:hover {
                    opacity: .7;
                }
            }
        }

        .discount-pct {
            position: absolute;
            color: white;
            top: 0;
            right: 0;
            height: 35px;
            width: 45px;
            padding: .25rem;
            font-weight: 700;
            font-size: .9rem;
            text-align: center;
            line-height: 2;
        }

        .banner {
            position: absolute;
            bottom: 5px;
            padding: 1rem;
            text: {
                transform: uppercase;
                align: center;
            }
            font-weight: 700;
            width: 100%;
            background-color: #eee;
        }
    }

    .details {
        display: flex;
        flex-direction: column;
        justify-content: left;
        padding: {
            top: 1rem;
            bottom: 1rem;
        }

        .title {
            line-height: 25px;
        }

        .price-details {
            line-height: 25px;

            .price {
                @extend %price;
            }

            .discounted-price {
                @extend %discounted_price;

                margin-left: .75rem;
                // line-height: 1.66;
            }

            &.with-discount {
                display: flex;
                justify-content: left;

                .price {
                    color: $discount_price_color;
                }

                // .discounted-price {
                //     color: $secondary_color;
                // }
            }
        }
    }
}

.card-link {
    @extend %links;
}

.ecommerce {
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;

    .col {
        padding: 0;
    }

    .grid#products {
        display: grid;
        grid-column-gap: 10px;

        // @media only screen and (min-width: 301px) {
        //     grid-template-columns: repeat(2, minmax(80px, 1fr));
        //     grid-gap: 4px;
        // }

        // @media only screen and (min-width: 993px) {
        //     grid-template-columns: repeat(4, minmax(200px, 1fr));
        //     grid-gap: 15px;
        // }

        @media screen and (min-width: 360px) {
            grid-template-columns: repeat(2, minmax(80px, 1fr));
            grid-gap: 4px;
        }
        
        @media screen and (min-width: 600px) {
            grid-template-columns: repeat(2, minmax(80px, 1fr));
            grid-gap: 4px;
        }
        
        @media screen and (min-width: 993px) {
            grid-template-columns: repeat(4, minmax(200px, 1fr));
            grid-gap: 15px;
        }
        
        @media screen and (min-width: 1201px) {
            grid-template-columns: repeat(4, minmax(200px, 1fr));
            grid-gap: 15px;
        }
        
        @media screen and (min-width: 1690px) {
            grid-template-columns: repeat(5, minmax(200px, 1fr));
            grid-gap: 15px;
        }
        
        .product {
            @extend %product;
        }

        @keyframes loader-animate{
            0%{
                transform: translate3d(-100%, 0, 0);
            }
            100%{
                transform: translate3d(100%, 0, 0);
            }
        }

        .card-preloader {
            position: relative;
            overflow: hidden;
            // background-color: black;
            background-color: grey;
            height: 300px;
            width: 100%;
            
            &:before {
                content: "";
                display: block;
                height: 90%;
                background-color: #ededed;
                // box-shadow: 0px 78px 0 -48px #ededed, 0px 102px 0 -51px #ededed;
            }
            
            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                background-color: #333;
                width: 100%;
                height: 100%;
                animation-duration: 1.7s;
                animation-iteration-count: infinite;
                animation-name: loader-animate;
                animation-timing-function: ease-out;
                // background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.6) 30%, rgba(255,255,255,0) 81%);
                background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.6) 40%, rgba(255,255,255,0) 90%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );
            }
        }
    }
}