@import "./global/variables.scss";

%area_property {
    padding: 1rem .45rem 1rem .45rem;
}

%card_titles {
    font: {
        weight: 700;
    }
}

// .expanded_description-enter-active {
//     transition: all .3s ease-in;
// }

// .expanded_description-enter {
//     font-size: 156px;
//     opacity: 0;
// }

// .expanded_description-enter-to {
//     opacity: 1;
// }

%discounted_price_style {
    text-decoration: line-through;
}

.ecommerce {
    position: relative;
    max-width: 1280px;
    width: 100%;
    
    @media only screen and (min-width: 320px) {
        margin: 0;
        width: 100%;
    }

    @media only screen and (min-width: 993px) {
        margin: 0 auto;
        width: 85%;
    }

    .grid#product {
        display: grid;
        grid-column-gap: 10px;
        z-index: -999;

        @media only screen and (min-width: 301px) {
            grid-template-columns: 1fr;
            grid-template-rows: max-content min-content minmax(100px) 1fr;
            grid-template-areas: 
            "side-images"
            "information"
            "details"
            "more";
            // background-color: rgb(95, 92, 92);
            grid-row-gap: 5px;
        }

        @media only screen and (min-width: 993px) {
            // grid-template-columns: 80px 400px repeat(1, 1fr);
            grid-template-columns: 80px 600px 1fr;
            grid-template-rows: min-content 600px min-content;
            grid-template-areas: 
            "breadcrumbs breadcrumbs breadcrumbs"
            "side-images main-image information"
            "details details details"
            "more more more";
            // "breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs"
            // "side-images main-image main-image information information"
            // "details details details details details"
            // "more more more more more";
            background-color: $primary_white;
            margin-top: 1rem;
        }

        .breadcrumbs {
            // background-color: blue;

            @extend %area_property;
            grid-area: breadcrumbs;
            display: flex;
            flex-direction: row;
            padding: {
                left: 0;
                right: 0;
            }
            text-transform: uppercase;
            font-size: decrease_font(2px);

            // div {
            //     &:before {}
    
            //     &:after {
            //         margin-right: 1rem;
            //         // font-weight: 700;
            //         padding: 56rem;
            //     }
            // }
        }
    
        .side-images {    
            // background-color: yellow;
            @extend %area_property;
            grid-area: side-images;
            position: relative;   
            overflow: hidden;  
            transition: all .4s ease-out;
            padding: 0;

            @media only screen and (min-width: 320px) {
                min-height: 315px;
            }
            
            @media screen and (min-width: 360px) {
                min-height: 360px;
            }
            
            @media screen and (min-width: 600px) {
                width: 100%;
            }

            @media screen and (min-width: 768px) {
                min-height: 700px;
            }
            
            @media screen and (min-width: 993px) {
                width: 100%;
            }
            
            @media screen and (min-width: 1201px) {
                width: 100%;
            }
            
            @media screen and (min-width: 1690px) {
                width: 100%;
            }
            
            img {
                max-width: 100%;
                height: auto;

                @media only screen and (min-width: 301px) {
                    position: absolute;
                }
                
                @media only screen and (min-width: 993px) {
                    position: initial;

                    &:hover {
                        opacity: .7;
                    }

                    &:not(:first-child) {
                        margin-top: .25rem;
                    }
                    cursor: pointer;
                }
            }
        }
    
        .main-image {    
            // background-color: green;

            @extend %area_property;
            grid-area: main-image;
            position: relative;
            padding: 0;

            .banner-out-of-stock {
                background-color: $primary_grey;
                padding: 1rem;
                // font-size: 22px;
                // text: {
                //     transform: uppercase;
                //     align: center;
                // }
            }

            .image {
                overflow: hidden;
                max-width: 100%;

                img {
                    width: 100%;
                }
            }
        }
    
        .information {
            // background-color: violet;

            @extend %area_property;
            grid-area: information;
            padding: {
                top: 0;
                bottom: 0;
            }

            .product-title {
                @extend %content_font_lighter;
                margin: 0;
            }

            .infos {
                display: flex;
                flex-direction: row;
                justify-content: left;

                div:first-child {
                    margin-right: .75rem;
                }

                .price {
                    @media only screen and (min-width: 301px) {
                        // font-size: add_to_regular_size(4px);
                        @include header_font_mixin(22px);
                    }
                    
                    @media only screen and (min-width: 993px) {
                        // font-size: add_to_regular_size(10px);
                        @include header_font_mixin(30px);
                    }

                    &.highlight {
                        color: $highlight_color;
                    }
                }

                .discounted-price {
                    @extend %discounted_price_style;
                    line-height: 40px;
                    margin-left: .75rem;
                }
            }

            .size-guide {
                margin-bottom: 2rem;

                a {
                    @extend %black_links;
                    @extend %content_font_lighter;
                    text-decoration: underline;
                }
            }

            .add-to-cart {
                a, button {
                    @extend %content_font_heavier;
                }

                .items {
                    display: flex;
                    flex-direction: row;

                    div:last-child {
                        margin-left: 1rem;
                    }
                }
            }

            .delivery-and-return {
                a {
                    @extend %black_links;
                    @extend %content_font_lighter;
                    text-decoration: underline;
                }
            }

            .description {
                margin: {
                    top: 1.5rem;
                    bottom: 1.5rem;
                }
            }

            .description-box {
                position: relative;
                margin: {
                    top: 1rem;
                    bottom: 1rem;
                };
                transition: all .3s ease;
                margin-top: 2.5rem;

                .title {
                    height: 40px;
                    padding: {
                        top: .25rem;
                        bottom: .25rem;
                    };
                    // border: {
                    //     top: 1px solid black;
                    //     bottom: 1px solid black;
                    // };
                    @include border_mixin("all");
                    @include increase_normal_font_mixin(2px);
                    text-transform: uppercase;
                    line-height: 30px;
                    
                    cursor: pointer;

                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    
                    i {
                        cursor: pointer;
                        line-height: 30px;
                        margin-right: 1rem;
                    }
                }
                
                .content {
                    @extend %content_font_lighter;
                    height: 38px;
                    overflow: hidden;
                    padding: {
                        top: .25rem;
                        bottom: .25rem;
                    };

                    &::after {
                        content: "";
                        position: absolute;
                        z-index: 1;
                        bottom: 0;
                        left: 0;
                        pointer-events: none;
                        background-image: linear-gradient(to bottom, 
                            rgba(255,255,255, 0), rgba(255,255,255, 1) 90%);
                        width: 100%;
                        height: .7em;
                    }

                    &.expanded {
                        height: max-content;
                    }
                }
            }

            .other-details {
                margin: {
                    top: .75rem;
                    bottom: .75rem;
                }

                span {
                    font-family: "Oswald";
                }

                .selection {
                    select {
                        @media only screen and (min-width: 320px) {
                            width: 100%;
                        }

                        @media screen and (min-width: 768px) {
                            width: 70%;
                        }

                        margin-top: $general_margin;
                    }
                }
            }
        }

        .details {
            // background-color: maroon;

            @extend %area_property;
            grid-area: details;
            // grid-column: {
            //     start: 2;
            //     end: 5;
            // }
            // // background-color: grey;
            
            // .detail {
            //     margin-top: .75rem;

            //     .title {
            //         text-transform: uppercase;
            //         font-weight: 700;
            //         color: $dark_grey;
            //     }
            // }
        }
    
        .more {
            // background-color: midnightblue;
            
            @extend %area_property;
            grid-area: more;
            padding: {
                right: 0;
                left: 0;
            }
            margin-bottom: 1rem;

            @media only screen and (min-width: 301px) {
                .wrapper {
                    width: 100%;
                }
            }

            @media only screen and (min-width: 993px) {
                .wrapper {
                    width: min-content;
                    margin: 0 auto;
                }
            }
                    
            h3, h4 {
                text-align: center;
                margin: 1.52rem 0 2rem 0;

                @media only screen and (min-width: 301px) {
                    @include header_font_mixin(35px);
                }
                
                @media only screen and (min-width: 993px) {
                    @include header_font_mixin(45px);
                }
            }

            .images {
                display: grid;

                @media only screen and (min-width: 301px) {
                    grid-template-rows: repeat(4, min-content);
                    grid-row-gap: 5px;
                }

                @media only screen and (min-width: 993px) {
                    grid-template-columns: repeat(4, 200px);
                    grid-template-rows: 1fr;
                    grid-column-gap: 5px;
                }

                .image {
                    overflow: hidden;

                    .title {
                        @extend %card_titles;
                    }

                    a {
                        @extend %black_links;
                    }

                    img {
                        width: 100%;
                    }

                    .infos {
                        display: flex;
                        flex-direction: row;

                        .price.highlight {
                            color: $highlight_color;
                        }

                        .discounted-price {
                            @extend %discounted_price_style;
                            margin-left: .25rem;
                        }
                    }

                    .details {
                        padding: {
                            right: 0;
                            left: 0;
                        }
                    }
                }
            }
        }
    
        .reviews {
            @extend %area_property;
            grid-area: rewiews;
            background-color: navy;
        }
    }
}