@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald:600,700&display=swap");

$primary_color:#212121;
$secondary_color:#484848;
$highlight_color: #c62828;
$secondary_highlight_color: #66bb6a;

$discount_price_color: #a00037;


$color_a: #d81b60;
$color_b: #ff5c8d;
$color_c: #a00037;

$primary_grey: #fafafa;
$lighter_grey: #ffffff;
$dark_grey: #c7c7c7;

$box_padding: 1rem;

$z_depth_1: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);

$header_font: "Oswald", sans-serif;
$content_font: "Lato", sans-serif;

%links {
    color: white;
    cursor: pointer;
}

%black_links {
    @extend %links;
    color: black;
}
