@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald:400,500&display=swap");


$primary_white: white;

$primary_black: #212121;

$lighter_black: #424242;

$primary_grey: #fafafa;

$highlight_color: #c62828;

$general_margin: 1.5rem;




// FONTS

$regular_font_size: 14px;

%header_font {
    font: {
        family: "Oswald";
    }
}

%template_font {
    font: {
        family: "Lato"
    };
}

%content_font_heavier {
    @extend %template_font;
    font-weight: 600;
}

%content_font_normal {
    @extend %template_font;
    font-weight: 500;
}

%content_font_lighter {
    @extend %template_font;
    font-weight: 300;
}

@mixin increase_normal_font_mixin($px) {
    font: {
        size: $regular_font_size + $px;
        weight: 500;
    }
}

@mixin content_font_mixin($px) {
    font: {
        family: "Lato";
        size: $px;
        weight: 300;
    }
}

@mixin header_font_mixin($px) {
    font: {
        family: "Oswald";
        size: $px;
        weight: 500;
    }
}

// HELPERS

%links {
    color: $primary_white;
    cursor: pointer;
}

%black_links {
    @extend %links;
    color: $primary_black;
}

@function increase_font($px) {
    @return $regular_font_size + $px;
}

@function decrease_font($px) {
    @return $regular_font_size - $px;
}

@mixin border_mixin($top_and_bottom) {
    @if ($top_and_bottom == "all") {
        border-top: 1px solid $lighter_black;
    }
    border-bottom: 1px solid $lighter_black;
}