<div class="delivery-and-return">
    <a href="#modal1" id="delivery-and-return" class="modal-trigger">
        Retours et livraisons gratuit**
    </a>

    <div id="modal1" class="modal" tabindex="0">
        <div class="modal-content">
            <h4>Livraison</h4>
            <table class="responsive-table">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Quand ?</th>
                        <th>Combien ?</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><b>Standard</b></td>
                        <td>Livraison prévue avant ou pour le {{  }}</td>
                        <td>Gratuit</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>