<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Product</title>

        <link rel="stylesheet" href="../../css/global/mat.css">
        <link rel="stylesheet" href="../../css/ecommerce.css">
        <link rel="stylesheet" href="../../css/ecommerce_nav.css">
        <link rel="stylesheet" href="../../css/ecommerce_banners.css">
        <link rel="stylesheet" href="../../css/product_grid.css">
        <!-- <link rel="stylesheet" href="../../css/admin-overlay.css"> -->
        <!-- ZOOM -->
        <link rel="stylesheet" href="../../css/jquery.wm-zoom-1.0.css">
    </head>

    <body>
        
        <main>
            <div class="top-banner mobile-infos hide-on-med-and-up">
                Livraison gratuite + retour 30 jours
            </div>

            <!-- HEADER -->
            <header class="ecommerce-header">
                <div class="fixed-ecommerce-nav" id="vue_navbar">
                    <div class="ecommerce-nav hide">
                        <div class="wrapper">
                            <a href="#" data-target="slide-out" class="sidenav-trigger sidebar-menu hide-on-med-and-up">
                                <i class="material-icons">menu</i>
                            </a>
                            <div class="brand-logo">
                                <a href="./hero.html">Nawoka</a>
                            </div>
                            <ul>
                                <li><searchicontrigger @triggerdropdown="initiatedropdown" /></li>
                                <li><a href="./cart.html"><i class="material-icons">shopping_cart</i></a></li>
                            </ul>
                        </div>
                    </div>

                    <nav class="white">
                        <div class="container">
                            <div class="nav-wrapper">
                                <a href="#" class="brand-logo">Nawoka</a>
    
                                <ul id="nav-mobile" class="right hide-on-med-and-down">
                                    <li>
                                        <a href="sass.html">
                                            <i class="material-icons">search</i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="badges.html">
                                            <i class="material-icons">shopping_cart</i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="collapsible.html">
                                            <i class="material-icons">dashboard</i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                    
                    <div>
                        <searchbar v-bind:searchstate="searchstate" />
                    </div>
                </div>
                
                <!-- CART DRAWER -->
                <div id="vue_drawer">
                    <cartdrawer v-bind:cart="cart" v-bind:globalvariables=globalvariables />
                </div>
                
                <!-- ECOMMERCE BAR -->
                <div class="ecommerce-bar hide-on-med-and-down">
                    <div id="vue_ecommerce_bar">
                        <div class="container">
                            <ul>
                                <li class="best-offers"><a href="./products.html">Promotions</a></li>
                                <li><a href="./products.html">Sacs</a></li>
                                <li><a href="./products.html">Bracelets</a></li>
                                <li><a href="./products.html">Chaussures</a></li>
                                <li><trigger1 @triggerdropdown="initiatedropdown" /></li>
                            </ul>
                        </div>
                        <dropdownbar v-bind:dropdownstate="dropdownstate" />
                    </div>
                </div>

                <!-- BANNERS -->
                <div class="top-banner sales-policies hide-on-med-and-down">
                    <div class="container">
                        <div class="row">
                            <div class="col s12 m4 l4">
                                <i class="material-icons">flight</i>
                                <p>Livraison gratuite</p>
                            </div>
                            <div class="col s12 m4 l4">
                                <i class="material-icons">payment</i>
                                <p>Paiements sécurisés</p>
                            </div>
                            <div class="col s12 m4 l4">
                                <i class="material-icons">star</i>
                                <p>Garantie 30 jours</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- PROMOTION BANNER -->
                <div class="top-banner promotional hide-on-med-and-down hide">
                    <a href="./product.html">
                        <div class=".wrapper">
                            <div class="big-title">
                                <img src="https://content.asos-media.com/-/media/homepages/unisex/homepages/outlet/app/2019-banners/desktop-mob/black_outlet_logo_desktop-v2.png" alt="image1">
                            </div>
                            <div class="presentation">
                                Jusqu'à -15% sur tous les sacs
                            </div>
                            <div class="legal">
                                Pour une durée limitée sur une sélection d’articles seulement. Prix déjà démarqués sur le site.
                            </div>
                        </div>
                    </a>
                </div>
            </header>

            <!-- SIDENAV -->
            <ul id="slide-out" class="sidenav">
                <li><a href="#!">Accueil</a></li>
                <li><a href="#!">Collections</a></li>
            </ul>

            <!-- BACKGROUND OVERLAY -->
            <div class="overlay hide"></div>

            <!-- ADMIN OVERLAY -->
            <div class="admin-overlay hide">
                <div id="admin"></div>
            </div>

            <!-- MAIN -->
            <div class="ecommerce" id="vue_grid">
                <div class="grid" id="product">
                    <!-- BREADCRUMBS -->
                    <div class="breadcrumbs hide-on-med-and-down">
                        <div><a href="http://">Accueil</a></div>
                        <div><a href="http://">Collection</a></div>
                        <div>Sac portée épaule</div>
                    </div>
                    
                    <!-- SIDE IMAGES -->
                    <div class="side-images">
                        <sideimages v-bind:images="images" />
                    </div>

                    <!-- MAIN IMAGE -->
                    <div class="main-image hide-on-med-and-down">
                        <mainimage v-bind:image="selectedimage" v-bind:stockstate="product.outofstock" />
                    </div>
                    
                    <!-- INFORMATION -->
                    <div class="information">
                        <h4 class="product-title">Bracelet en diamant pure</h4>

                        <div class="infos">
                            <div class="price hide">54.95€</div>
                            <div class="price highlight">54.95€</div>
                            <div class="discounted-price">54€</div>
                        </div>

                        <div class="delivery-and-return">
                            <a href="#modal1" id="delivery-and-return" class="modal-trigger">
                                Retours et livraisons gratuit**
                            </a>

                            <div id="modal1" class="modal" tabindex="0">
                                <div class="modal-content">
                                    <h4>Livraison</h4>
                                    <table class="responsive-table">
                                        <thead>
                                            <tr>
                                                <th>Type</th>
                                                <th>Quand ?</th>
                                                <th>Combien ?</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><b>Standard</b></td>
                                                <td>Livraison prévue avant ou pour le 21 April 2020</td>
                                                <td>Gratuit</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <p class="description hide">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                            Dignissimos labore vero sed, beatae, perferendis fuga 
                            perspiciatis sunt soluta quo temporibus adipisci minus 
                            rem id voluptas doloribus saepe! Totam, enim eius?
                        </p>
                        
                        <div class="description-box">
                            <descriptionbox />
                        </div>
                        
                        <!-- SELECTIONS -->
                        <div class="other-details">
                            <!-- <div>
                                <colortext v-bind:colors="colors" />
                            </div> -->
                            <!-- <div class="size"><span>Taille :</span> Unique</div> -->

                            <div class="selection">
                                <div class="color">
                                    <colorselection @docolor="updateuserselection" v-bind:images="product.images" />
                                </div>
                                
                                <div class="size">
                                    <colorselection v-bind:images="product.images" />
                                </div>
                            </div>
                        </div>
                        
                        <div class="size-guide">
                            <a href="#modal2" id="delivery-and-return" class="modal-trigger">
                                Guide des tailles**
                            </a>

                            <div id="modal2" class="modal" tabindex="0">
                                <div class="modal-content">
                                    <h4>Guide des tailles</h4>
                                </div>
                            </div>
                        </div>

                        <div class="add-to-cart">
                            <div class="items">
                                <!-- BUTTON -->
                                <div>
                                    <addtocart v-bind:product="product" v-bind:image="mainimageurl[0]['image_url']" />
                                </div>
    
                                <!-- LIKE -->
                                <div>
                                    <likebutton />
                                </div>
                            </div>
                        </div>
                    </div>
                    

                    <!-- DETAILS -->
                    <div class="details hide">
                        <div class="detail">
                            <div class="title">Référence</div>
                            <div class="content">323ZEFZEF</div>
                        </div>
                        <div class="detail">
                            <div class="title">Matière</div>
                            <div class="content">Similicuir - Façon similicuir</div>
                        </div>
                    </div>

                    <!-- MORE -->
                    <div class="more grey lighten-4">
                        <h4>Vous allez aussi aimer</h4>
                        <div class="wrapper">
                            <div class="images">
                                <div class="image">
                                    <a href="./product.html">
                                        <img src="../../assets/images/image1.jpg" alt="image4">
                                        <div class="details">
                                            <div class="title">Jupe en cuir</div>
                                            <div class="infos">
                                                <div class="price highlight">54€</div>
                                                <div class="discounted-price">54€</div>
                                            </div>
                                        </div>                                
                                    </a>
                                </div>
                                <div class="image">
                                    <a href="./product.html">
                                        <img src="../../assets/images/image2.jpg" alt="image4">
                                        <div class="details">
                                            <div class="price-details">
                                                <div class="title">Jupe en velours</div>
                                                <div class="price">54€</div>
                                            </div>
                                        </div>                                
                                    </a>
                                </div>
                                <div class="image">
                                    <a href="./product.html">
                                        <img src="../../assets/images/image3.jpg" alt="image4">
                                        <div class="details">
                                            <div class="title">Sac de vuitton</div>
                                            <div class="price">54€</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="image">
                                    <a href="./product.html">
                                        <img src="../../assets/images/image1.jpg" alt="image4">
                                        <div class="details">
                                            <div class="title">Tote bag divaga</div>
                                            <div class="price">54€</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="admin_components">
                <div>
                    <actionbuttons @showmodal="domodal" v-bind:actions="actions" />
                </div>
                <div>
                    <!-- <modalcomponent v-bind:modalname="modalname" /> -->
                </div>
            </div>

            <!-- FOOTER -->
            <div class="enhanced-minimalist-footer hide-on-med-and-up">
                <div class="with-payments">
                    <div class="payment-methods">
                        <i class="fab fa-cc-visa"></i>
                        <i class="fab fa-cc-mastercard"></i>
                    </div>
                    <p><i class="material-icons">lock</i>Paiement sécurisés</p>
                </div>
            
                <div class="with-social">
                    <a href="https://www.instagram.com/nawoka_fashion/" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://www.facebook.com/Nawoka-110244253694844/" target="_blank">
                        <i class="fab fa-facebook"></i>
                    </a>
                </div>
            
                <div class="links white-text grey darken-4">
                    <a href="./cgv.html">Conditions générales</a>
                    <a href="./cgv.html">Confidentialité</a>
                </div>
            </div>
            
            <footer class="page-footer grey darken-4 with-policies hide-on-med-and-down">
                <div class="policies">
                    <div class="payments">
                        <i class="fab fa-cc-visa"></i>
                        <i class="fab fa-cc-mastercard"></i>
                    </div>
                    <div class="social">
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-facebook"></i>
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col s12 m4 l4">
                            <h5>Aide et information</h5>
                            <p><a href="./customer_service.html" target="_blank">Assistance</a></p>
                            <p><a href="" target="_blank">Suivi commande</a></li></p>
                            <p><a href="" target="_blank">Livraison retour</a></li></p>
                        </div>

                        <div class="col s12 m4 l4">
                            <h5>A propos de Nawoka</h5>
                            <p><a href="" target="_blank">A propos de Nawoka</a></p>
                            <p><a href="" target="_blank">Nawoka recrute</a></p>
                        </div>
                    </div>
                </div>
                <div class="footer-copyright">
                    <p> 2019 @ Entreprise</p>
                    <a href="{% url 'cgv' %}">Conditions générales</a>
                    <a href="{% url 'confidentialite' %}">Confidentialité et cookies</a>
                </div>
            </footer>
        </main>
    </body>

    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

    <!-- ZOOM -->
    <!-- <script src="../../css/jquery.wm-zoom-1.0.js"></script> -->

    <script>
        $(document).ready(function(){
            // Sidenav
            $('.sidenav').sidenav();
            // Scrollspy
            $('.scrollspy').scrollSpy();
            // Select
            $('select').formSelect();
            // Slider 
            $('.slider').slider();
            // Collapsible
            $('.collapsible').collapsible();
            // Modal
            $('.modal').modal();
            // Tooltips
            $('.tooltipped').tooltip();
            // Action buttons
            $('.fixed-action-btn').floatingActionButton();

            // ZOOM
            // $(".my-zoom").WMZoom({
            //     config: {
            //         // stage size
            //         stageW: 500,
            //         stageH: 400,
                    
            //         // set to true to enable the inner zoom mode
            //         inner: false,
                    
            //         // [top, right, bottom, left]
            //         position: "right",
                    
            //         // margin
            //         margin : 10
            //     }
            // });
        });
    </script>

    <!-- LODASH -->
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
    
    <!-- VUE JS -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- OTHERS -->
    <script src="../../js/variables.js"></script>
    <script src="../../js/admin_components.js"></script>
    <script src="../../js/bar.js"></script>
    <script src="../../js/nav.js"></script>
    <script src="../../js/product.js"></script>
    <script src="../../js/admin_overlay.js"></script>
</html>